body{
    background-color: rgb(124, 152, 214);
}

.App{
    height:98vh;
    width:98vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width:300px;
    max-height:95vh;
    min-height: 50px;
    background-color: aquamarine;
    padding: 5px;
    /* margin: 5px; */
    overflow: auto;
}